/*
  ========  =MAIN CONFIG= ======== 
*/
$header-size: 80px;

html,
body {
    height: 100vh;
    background: $primary-color;
    color: $text-color;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

    // Monserrat 
    // Bebass- заголовки
}

.svg-icon {
  width: 32px;
  height: 32px;

  path, polygon, rect {
      fill: $text-color;
  }

  circle {
      stroke: $text-color;
      stroke-width: 1;
  }
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page {
    padding-top: $header-size;
    flex: 1 1 auto;
}
