/*
  ========  =BASIC STYLES FOR SVG ICONS= ======== 
*/
.svg-icon {
  width: 32px;
  height: 32px;

  path, polygon, rect {
      fill: var(--text-color);
  }

  circle {
      stroke: var(--text-color);
      stroke-width: 1;
  }
}
/*
  ========  =MAIN CONFIG PAGE= ======== 
*/
body {
  height: 100vh;
  font-size: 14px;
  font-family: $font-family-primary;
  font-weight: 400;
}

.app {
  background: var(--primary-color);
  color: var(--text-color);
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  padding-top: $height-header;
  flex: 1 1 auto;
  position: relative;
}
