.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  display: flex;
  z-index: 110;
  &__content {
    overflow: auto;
    margin: auto;
    background: var(--primary-color);
    max-height: 500px;
    min-width: 340px;
    width: 600px;
  }
}
