
.form-login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    color: $highlight-color;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 1.2;
  }
  &__form {
      display: flex;
      flex-direction: column;
  }
  &__body {
      box-shadow: 0 0 20px 4px $primary-sdw-color;
      padding: 40px 30px;
      background: $bg-color;
      max-width: 320px;
      border-radius: 50px 0 50px 0;
  }
  &__title {
      display: flex;
      margin-bottom: 15px;
      > *:not(:last-child) {
          margin-right: 10px;
      }
      a {
        color: inherit;
      }
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__input {
      padding: 10px 15px;
      background: none;
      color: $text-color;
      border-bottom: 1px solid $text-color;
      display: block;
      width: 100%;
  }
  &__input:not(:last-child) {
      margin-bottom: 20px;
  }
  &__button {
      margin-top: 25px;
  }
  &__register:hover {
    color: $additional-color;
  }
}

.invalid {
border-bottom: 1px solid $additional-color;
}
