
.form-login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        max-width: 360px;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__body {
        box-shadow: 0 0 10px 4px $primary-sdw-color;
        padding: 40px 30px;
        background: $bg-color;
    }
    &__title {
        display: flex;
        margin-bottom: 15px;
        > *:not(:last-child) {
            margin-right: 10px;
        }
        a {
          color: inherit;
        }
    }
    &__input {
        padding: 10px 15px;
        background: none;
        color: $text-color;
        border-bottom: 1px solid $text-color;
    }
    &__input:not(:last-child) {
        margin-bottom: 20px;
    }
    &__button {
        margin-top: 25px;
    }
}

.invalid {
  border-bottom: 1px solid $additional-color;
}
