/*
  ========  =HEADER= ======== 
*/

.header {
  &__content {
    padding: 15px;
    min-height: $height-header;
    background: var(--bg-color);
    position: fixed;
    z-index: $layout-middle;
    width: 100%;
    display: flex;
    align-items: center;
    @extend %box-shadow;
    transition: transform .3s ease 0s;
  
    &_hide {
      transform: translateY(-$height-header);
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
  }

  &__icon {
    cursor: pointer;
    &:not(:first-child) {
        margin-left: 15px;
    }
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__logo {
    margin-right: 20px;
  }
}

.menu { 
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__link {
    color: var(--text-color);
    line-height: 1.2;
    font-size: 16px;
    padding: 5px 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;

    // ANIMATION HOVER LINE BOTTOM WITH TRANSITION
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: var(--highlight-color); // Improve
      height: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover:before{
      left: 0;
      right: 0;
    }
  }
}

.logo-header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: $layout-middle;

  &__menu-icon {
    display: none;
    margin: 0 10px 2px 0;
  }    

  &__link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase; 
    font-size: $font-size-h2;
  }

  &__icon {
    transition: transform 0.5s ease 0s;
  } 
  
  &__link:hover .logo-header__icon {
    height: 24px;
    transition: transform 0.3s ease 0s;
    transform: rotate(180deg);
    path, polygon, rect {
      fill: var(--highlight-color);
    }
  }
}
/*
  ========  =RESPONSIVE= ======== 
*/

/* Mobile */
@media (max-width: 881.98px) {
  /* ===HEADER=== */
  .header {
    .header__logo {
      flex: 1 1 auto;
      margin-right: 10px;
    }

    .header__menu {
      flex: 0 1 50%;
    }
  }
  
  /* ===LOGO-HEADER=== */
  .logo-header {
    align-items: center;
    &__menu-icon {
      display: block;  
    }
  }

  /* ===MENU=== */
  .menu {   
    background: var(--primary-color);
    width: 50%;
    height: 100vh;
    padding: 90px 0 0 15px;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: $layout-bottom;
    transition: left .3s ease 0s;
    box-shadow: 2px 9px 50px rgba(0, 0, 0, .1),
    -2px 9px 60px rgba(0, 0, 0, .1);

    &__list {
      display: block;
    }

    &__item:not(:last-child) {
      margin: 0 0 10px 0;
    }

    &__link {
      font-size: 24px;
    }

    &_active {
      left: 0;
    }
  }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
  /* ===MENU=== */
  .menu {   
    width: 60%;
    &__link {
      font-size: 20px;
    }
  }
}
