// Inner line menu mobile
%menu__icon {
  width: 28px;
  height: 3px; 
  background-color: var(--text-color);
  display: block;
}

/*
  ========  =HEADER= ======== 
*/
.header__content {
  padding: 15px;
  min-height: $header-size;
  background: var(--bg-color);
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all .3s ease 0s;
  @extend %shadow;
  transition: transform .3s ease 0s;

  &_hide {
    transform: translateY(-$header-size - 10);
  }
}
.header__bottom {
  margin-right: 15px;
  position: absolute;
  bottom: -25px;
  right: 0;
  height: 20px;
}
.header__user-name {
  background: var(--primary-color);
  font-size: 16px;
  padding: 5px;
}
.logo-header {
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 100;
  margin-right: 20px;
  &__menu-icon {
    display: none;
    margin: 0 10px 2px 0;
  }    
  &__link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase; 
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2; 
  }
  &__icon {
    transform: rotate(0deg);
    transition: all 0.5s ease 0s;
  } 
  &__link:hover .logo-header__icon {
    height: 24px;
    transition: all 0.3s ease 0s;
    transform: rotate(180deg);
    path, polygon, rect {
      fill: var(--highlight-color);
    }
  }
}

.header__menu {
    flex: 1 1 auto;
}

.menu { 
    position: relative;
    z-index: 100;
    &__list {
        display: flex;
    }
    &__item:not(:last-child) {
        margin-right: 20px;
    }
    &__link {
        color: var(--text-color);
        line-height: 1.2;
        font-size: 16px;
        padding: 5px 0;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
    }
    &__link::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: var(--highlight-color); // Improve
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &__link:hover:before, &__link:focus:before, &__link:active:before {
        left: 0;
        right: 0;
      }
}

.header__icons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    text-align: right;
    margin: 0 auto;
}
.header__icon {
    position: relative;
    z-index: 100;
    cursor: pointer;
    &:not(:first-child) {
        margin-left: 15px;
    }
}


/* PC */
@media (max-width: 1087px) {

}
/* Tablet */
@media (max-width: 991.98px) {
}

/* Mobile */
@media (max-width: 767.98px) {
    .header__logo {
        flex: 1 1 auto;
        margin-right: 10px;
    }
    .header__menu {
        flex: 0 1 50%;
    }
    .logo-header__text {
        display: block;
    }

    .logo-header {
        display: flex;
        align-items: center;
        &__menu-icon {
            display: block;  
        }
    }

    .menu {   
        display: block;
        box-shadow: 2px 9px 50px hsla(0, 0, 0, .1),
        -2px 9px 60px hsla(0, 0, 0, .1);
        background: var(--primary-color);
        width: 50%;
        height: 100vh;
        padding: 90px 0 0 15px;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 50;
        transition: all .3s ease 0s;
        &__list {
            display: block;
        }
        &__item:not(:last-child) {
            margin: 0 0 10px 0;
        }
        &__link {
            color: var(--text-color);
            font-size: 24px;
        }
        &_active {
            left: 0;
        }
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
  .menu {   
    width: 60%;
    &__link {
        color: var(--text-color);
        font-size: 20px;
    }
}
}
