/*=========PAGE BEGINPAGE=========*/
.beginpage {
  position: relative;
  padding: 35px 0;
  z-index: 1;
}
.beginpage__container {
  display: flex;
  column-gap: 40px;
}
.beginpage__title {
  line-height: 1.2;
  flex: 0 1 60%;
  position: relative;
  
  h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2px;       
    margin-bottom: 10px;      
  }
  .beginpage__subtitle {
    font-size: 16px;
    font-weight: 300;
  }
}

.beginpage__search {
  flex: 0 1 40%;
  position: relative;
  z-index: 1;

  .search-beginpage {
    width: 450px;
    padding: 15px;
    background-color: $bg-color;
    display: flex;
  }

  .search-beginpage__input {
      width: 330px;
      padding: 10px 15px;
      font-size: 15px;
      background: rgba($text-color, 0.9);
      color: $primary-color;

      &:focus {
          background: $text-color;
      }
  }

  .search-beginpage__btn {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font-size: 15px;
    color: $text-color;
    text-transform: uppercase;
    background: $additional-color;
    transition: all 0.3s ease 0s;
    
    &:hover {
      background: rgba($additional-color, 0.9);
    }
    &:active {
      background: rgba($additional-color, 0.7);    
    }
    &::before {
      content: '';
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent $additional-color transparent;
      top: 12px;
      left: -6px;
    }
  }
}

/*=========PAGE MANUAL=========*/
.manual {
  padding: 30px 0;
}
.manual__container {
  overflow: hidden;
}
.manual__title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-right: 10px;
  }
}

.manual__content {
  display: flex;
  gap: 20px;
}

.manual__aside {
  flex: 0 1 20%;
  &_hide {
    display: none;
  }
}

.nav-aside {
  &__body {
    display: block;
    background-color: $bg-color;
    overflow: hidden;
  }
  
  &__item {
    display: block;
    transition: background .3s ease 0s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    a {
      color: $text-color;
      display: block;
      padding: 20px;
    }   

    &:hover {
      background: $primary-sdw-color;
    }
    &_active {
      background: $primary-sdw-color;
    }
  }
  &__chapter {
      margin-bottom: 10px;
  }
}

.wave {
  background-color: rgba($text-color, .5);
  border-radius: 50%;
  transform: scale(0);
  animation: wave .5s linear;
  pointer-events: none;
  position: absolute;
}

@keyframes wave {
  100% {
   transform: scale(2);
   opacity: 0;
  }
}

.list-manual {
  flex: 1 1 100%;
  &_fill {
    flex: 1 1 80%;
  }
  &__link {
    display: inline-block;
    margin-bottom: 10px;
    color: $text-color;

    &:hover {
      color: $highlight-color;
    }
  }
  &__item {
    padding: 20px;
    background-color: $bg-color;
    box-shadow: 2px 4px 5px hsla(0, 0, 0, .1),
    -2px 4px 5px hsla(0, 0, 0, .1);
    transition: all .2s ease;
    
    &:hover {
      transform: translateY(-3px);
      @extend %shadow;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 1.2;
  }
  &__buttons {
    text-align: right;
  }
}

.list-sub {
  margin-bottom: 20px;

  &__item:not(:last-child) {
      margin-bottom: 35px;
  }
  
  &__content {
    display: flex;  
    align-items: center; 
    font-size: 16px;
  }

  &__link {
    color: $text-color;
    &:hover {
      color: $text-color;
      text-decoration: underline;
    }
  }
}
.manual__btn-top {
  height: 50px;
  width: 50px;
  border:2px solid $highlight-color;
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease 0s;
 
  position: fixed;
  bottom: 100%;
  right: 0px;
  z-index: 100;
  
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: .7;
  visibility: hidden;
  &:hover {
    box-shadow: inset 0 0 0 2em $highlight-color;
    opacity: 1;
    & svg {
      margin-bottom: 10px
    }
  }
  & svg {
    transition: all .3s ease 0s;
    transform: rotate(-90deg);
  }
  &_hide {
    bottom: 0px;
    visibility: visible;
  }
}

// RESPONSIVE
/* Tablet */
@media (max-width: 991.98px) {
  .beginpage__container {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .beginpage__title {
    flex: 0 1 100%;
  }
  
  .beginpage__search {
    flex: 0 1 100%;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
    .beginpage {
      padding: 20px 0;
    }

    .beginpage__search {
      .search-beginpage {
        width: 100%;
      }
      .search-beginpage__input {
        width: 100%;
      }
    }
    
    .manual__content {
      flex-direction: column;
    }

    .manual__aside {
      flex: 0 1 100%;
    }

    .nav-aside {
      &__button {
        display: flex;
      }
      &__body {
        margin-top: 20px;
      }
      &__body_active {
        display: none;
      }
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
  .beginpage__search {   
    .search-beginpage {
      width: 100%;
    }
    .search-beginpage__input {
      width: 100%;
      padding: 5px 5px;
    }
    .search-beginpage__btn {
      height: 35px;
      &::before {
          content: '';
          top: 10px;
      }
    }
  }
}
