%decor {
    position: absolute;
    border-radius: 30px;
    background-color: $highlight-color;
    display: block;
}

/*=========PAGE=========*/
.page {
}
.page__beginpage {
}
.page__manual {
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    color: $text-color;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .2px;
    overflow: hidden;
    border: 2px solid $highlight-color;
    position: relative;
    z-index: 10;
    background: none;
    box-shadow: none;
    transition: all .5s ease 0s;
    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 2em $highlight-color;
  }
}

.btn__text-primary {
    color: $primary-color;
}

/*=========PAGE BEGINPAGE=========*/
.beginpage {
    padding: 35px 0;
    position: relative;
    z-index: 1;
}
.beginpage__container {
    display: flex;
    column-gap: 40px;
}
.beginpage__title {
    line-height: 1.2;
    flex: 0 1 60%;
    position: relative;
   
    h1 {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.2px;       
        margin-bottom: 10px; 
       
    }
    // h1::after {
    //     content: "";
    //     @extend %decor;
    //     width: 110px;
    //     height: 110px;
    //     transform: rotate(60deg);
    //     top: -50px;
    //     left: -50px;
    //     z-index: -1;
    // }
    // h1::before {
    //     content: "";
    //     @extend %decor;
    //     border-radius: 0px;
    //     width: 0px;
    //     height: 0px;
    //     background: none;
    //     transform: rotate(30deg);
    //     border-right: 70px solid transparent;
    //     border-top: 100px solid $highlight-color;
    //     border-left: 30px solid transparent;
    //     bottom: -50px;
    //     right: -50px;
    //     z-index: -1;
    // }
    .beginpage__subtitle {
        font-size: 16px;
        font-weight: 300;
    }
}

.beginpage__search {
    flex: 0 1 40%;
    position: relative;
    z-index: 1;
    .search-beginpage {
        width: 450px;
        padding: 15px;
        // border-radius: 10px;
        background-color: $bg-color;
        display: flex;
    }
    .search-beginpage__input {
        width: 330px;
        padding: 10px 15px;
        font-size: 15px;
        background: rgba($text-color, 0.9);
        // border-radius: 3px 0 0 3px; 
        color: $primary-color;

        &:focus {
            background: $text-color;
        }
    }
    .search-beginpage__btn {
        position: relative;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font-size: 15px;
        color: $text-color;
        text-transform: uppercase;
        background: $additional-color;
        // border-radius: 0 3px 3px 0;      
        transition: all 0.3s ease 0s;
        
        &:hover {
            background: rgba($additional-color, 0.9);
        }

        &:active {
            background: rgba($additional-color, 0.7);    
        }

        &::before {
            content: '';
            position: absolute;
            border-width: 8px 8px 8px 0;
            border-style: solid solid solid none;
            border-color: transparent $additional-color transparent;
            top: 12px;
            left: -6px;
        }
    }
}

/*=========PAGE MANUAL=========*/
.manual {
    padding: 30px 0;
}
.manual__container {
}
.manual__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.manual__content {
    display: flex;
    gap: 30px;
}
.manual__aside {
    flex: 0 1 20%;
}
.nav-aside {
    &__button {
        background-color: $bg-color;
        padding: 15px;
        font-size: 22px;
        display: none;
        align-items: center;
        justify-content: center;
        max-width: 225px;
        cursor: pointer;
        transition: all .3s ease 0s;

        span {
            margin-left: 10px;
            display: inline-block;
            width: 0px; 
            height: 0px;
            border-left: 10px solid transparent;
            border-top: 15px solid $primary-sdw-color;
            border-right: 10px solid transparent;
            transform: rotate(0deg);
            transition: all .6s ease 0s;
        }

        &:active {
            background-color: rgba($bg-color, 0.4);
        }
        &__active {
            background-color: rgba(#000, 0.4);
        }
    }
    
    &__button_active {
        span {
            transform: rotate(180deg);
        }
    }

    &__body {
        display: block;
        background-color: $bg-color;
        overflow: hidden;
    }
    
    &__item {
        background: none;
        transition: background .3s ease 0s;

        a {
            padding: 20px;
            color: $text-color;
            display: block;
        }   
        &:not(:last-child) {
            border-bottom: 2px solid $primary-color;
        }
        :hover {
            background: $primary-sdw-color;
        }
    }
    &__chapter {
        margin-bottom: 10px;
    }
    &__title {

    }
}
.list-manual {
    flex: 0 1 80%;
    
    &__link {
        display: inline-block;
        margin-bottom: 10px;
        color: $text-color;
    }
    &__link:hover {
        color: $additional-color;
    }
    &__item {
      padding: 20px;
      background-color: $bg-color;
      box-shadow: 2px 4px 5px hsla(0, 0, 0, .1),
      -2px 4px 5px hsla(0, 0, 0, .1);
      transition: all .2s ease;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 2px 9px 50px hsla(0, 0, 0, .1),
        -2px 9px 60px hsla(0, 0, 0, .1);
    }
    }
    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__title {
        font-size: 24px;
        margin-bottom: 50px;
        line-height: 1.2;
    }
    &__buttons {
        text-align: right;
    }
}

.list-manual__body {
    
}

.list-sub {
    margin-bottom: 20px;
    &__item:not(:last-child) {
        margin-bottom: 35px;
    }
    &__content {
        display: flex;  
        align-items: center; 
        font-size: 16px;
    }
    &__number {
        width: 35px;
        margin-right: 10px;
        color: $highlight-color;
        letter-spacing: 2px;
    }
    &__link {
        color: $text-color;
    }
    &__link:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

.manual__btn-top {
    text-align: right;
    margin: 10px 0;
}
#btn-scroll-top {
    text-align: center;
    padding: 10px;
    background-color: $additional-color;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease 0s;
    &:hover {
        background-color: rgba($additional-color, 0.4);
    }
}
/* PC */
@media (max-width: 1170px) {

}
/* Tablet */
@media (max-width: 991.98px) {
    .beginpage__container {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .beginpage__title {
        flex: 0 1 100%;
    }
    
    .beginpage__search {
        flex: 0 1 100%;
        
    }

}

/* Mobile */
@media (max-width: 767.98px) {
    .beginpage {
        padding: 20px 0;
    }

    .beginpage__search {

        .search-beginpage {
            width: 100%;
        }
        .search-beginpage__input {
            width: 100%;
        }
    }

    .manual {
        padding: 10px 0;
    }


    .manual__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .manual__aside {
        flex: 0 1 100%;
    }
    .nav-aside {
        &__button {
            display: flex;
        }
        &__body {
            margin-top: 20px;
        }
        &__body_active {
            display: none;
        }
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .beginpage__search {
        
        .search-beginpage {
            width: 100%;
        }
        .search-beginpage__input {
            width: 100%;
            padding: 5px 5px;
        }
        .search-beginpage__btn {
            height: 35px;
            &::before {
                content: '';
                top: 10px;
            }
        }
    }
}
