/*
  ========  =PAGE BEGINPAGE= ======== 
*/

.beginpage {
  position: relative;
  padding: 35px 0;
  z-index: 1;
}

.beginpage__container {
  display: flex;
  column-gap: 40px;
}

.beginpage__title {
  line-height: 1.2;
  flex: 0 1 60%;
  position: relative;
  
  h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2px;       
    margin-bottom: 10px;  
    border-bottom: 3px solid var(--text-color);
    display: inline;
  }

  .beginpage__subtitle {
    padding-top: 15px;
    font-size: 16px;
    font-weight: 300;
  }
}

.beginpage__search {
  flex: 0 1 40%;
  position: relative;
  z-index: 1;

  .search-beginpage {
    width: 450px;
    padding: 10px;
    background-color: var(--highlight-color);
    display: flex;
  }

  .search-beginpage__input {
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    background: var(--text-color);
    color: var(--primary-color);

    &:focus {
      background: var(--text-color);
    }
  }

  .search-beginpage__btn {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font-size: 15px;
    color: var(--text-color);
    text-transform: uppercase;
    background: var(--additional-color);
    transition: all 0.3s ease 0s;
    
    &:hover {
      background: rgba(var(--additional-color), 0.9);
    }

    &:active {
      background: rgba(var(--additional-color), 0.7);    
    }

    &::before {
      content: '';
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent var(--additional-color) transparent;
      top: 12px;
      left: -6px;
    }
  }
}

/*
  ========  =PAGE MANUAL= ======== 
*/

.manual {
  padding: 30px 0;
}

.manual__container {
  overflow: hidden;
}

.manual__title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-right: 10px;
  }
}

.manual__content {
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  gap: 20px;
}

.manual__aside {
  width: 250px;
  margin-left: 0;
  transition: margin-left .2s ease-in-out 0s;
  
  &_hide {
    margin-left: -270px;
  }
}

.nav-aside {
  &__body {
    overflow-x: auto;
    max-height: 450px;
    display: block;
    background-color: var(--bg-color);
  }
  
  &__item {
    display: block;
    transition: background .3s ease 0s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
    a {
      color: var(--text-color);
      display: block;
      padding: 10px;
    }   

    &:hover {
      background: var(--primary-sdw-color);
    }

    &_active {
      background: var(--primary-sdw-color);
    }
  }

  &__chapter {
    margin-bottom: 10px;
  }
}

.list-manual {
  min-width: 0;
  flex-direction: column;
  display: flex;
  flex: 1;
  &__link {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--text-color);

    &:hover {
      color: var(--highlight-color);
    }
  }
  &__item {
    padding: 20px;
    background-color: var(--bg-color);
    @extend %box-shadow;
    transition: all .2s ease;
    
    &:hover {
      transform: translateY(-3px);
      @extend %box-shadow;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 1.2;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  &__btn {
    text-align: center;
    min-width: 150px;
  }
}

.list-sub {
  margin: 0 0px 20px 15px;

  &__item {
    padding: 0 0 4px 16px;
    position: relative;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--text-color);
      position: absolute;
      top: 4px;
      left: 0;
      transition: all .3s ease 0s;
    }
    &::after {
      content: "";
    }
    &:hover {
      &::before {
        background: var(--highlight-color);
        border-radius: 0;
        right: 0;
      }
    }
  }

  &__item:not(:last-child) {
      margin-bottom: 35px;
  }
  
  &__content {
    display: flex;  
    align-items: center; 
    font-size: 16px;
  }

  &__link {
    color: var(--text-color);
  }
}

.manual__btn-top {
  height: 50px;
  width: 50px;
  border:2px solid var(--highlight-color);
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease 0s;
  margin: 0 15px 15px 0px;
  position: fixed;
  bottom: 100%;
  right: 0px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .7;
  visibility: hidden;

  &:hover {
    box-shadow: inset 0 0 0 2em var(--highlight-color);
    opacity: 1;

    & svg {
      margin-bottom: 10px
    }
  }

  & svg {
    transition: all .3s ease 0s;
    transform: rotate(-90deg);
  }

  &_hide {
    bottom: 0px;
    visibility: visible;
  }
}

.manual__btns-change-page {
  margin-top: 10px;
}

.btns-change-page {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  &__block {
    flex: 0 1 50%;
  }

  &__btn {
    width: 100%;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .2px;
    border: 2px solid var(--highlight-color);
    z-index: 10;
    background: none;
    box-shadow: none;
    transition: all .5s ease 0s;
    text-align: center;

    &:hover {
      background: var(--highlight-color);
    }

    &_hide {
      display: none;

      &:hover {
        background: var(--highlight-color);
      }
    }
  }
}

/*
  ========  =ANIMATION VUE ======== 
*/
.list-theme-enter-active,
.list-theme-leave-active {
  transition: all 0.3s ease;
}
.list-theme-enter-from,
.list-theme-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.list-theme-move {
  transition: transform .5s ease;
}

/*
  ========  =RESPONSIVE= ======== 
*/
/* Tablet */
@media (max-width: 991.98px) {
  .beginpage__container {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .beginpage__title {
    flex: 0 1 100%;
  }
  
  .beginpage__search {
    flex: 0 1 100%;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  .beginpage {
    padding: 20px 0;
  }

  .beginpage__search {
    .search-beginpage {
      width: 100%;
    }

    .search-beginpage__input {
      width: 100%;
    }
  }

  .manual__container {
    padding: 0;
  }

  .manual__title {
    padding: 0 15px;
  }

  .manual__content {
    flex-direction: column;
  }

  .manual__aside {
    width: 100%;
  }

  .nav-aside {
    &__button {
      display: flex;
    }

    &__body {
      margin-top: 20px;
    }

    &__body_active {
      display: none;
    }
  }

  .list-manual {
    &__item {
      padding: 20px;
      background-color: var(--bg-color);
      box-shadow: none;
      
      &:hover {
        transform: translateY(0);
        box-shadow: none;
      }
    }
  }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
  .beginpage__search {   
    .search-beginpage {
      width: 100%;
    }

    .search-beginpage__input {
      width: 100%;
      padding: 5px 5px;
    }

    .search-beginpage__btn {
      height: 35px;
      &::before {
          content: '';
          top: 10px;
      }
    }
  }

  .list-manual {
    &__buttons {
      flex-direction: column;
    }

    &__btn {
      width: 100%;
    }
  }
}
