/*
  ========  =THREE-STRIP BUTTON FOR BURGER MENU= ======== 
*/
#menu__icon_aside {
  z-index: 50;
}
.icon-menu__burger {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 100;

  & span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all .3s ease 0s;
    background-color: var(--text-color);
  }
  &::before,
  &::after {
    content: "";
  }
  &::before {
    top: 0;
  } 
  &::after {
    bottom: 0;
  } 
  span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  &.menu-icon_active {
    & span{
      width: 60%;
    }
  }
}
