.page__profile {
  padding: 35px 0px;
}
.profile__container {
  display: flex;
  align-items: flex-start;
}
.profile__content {
  flex: 0 1 60%;
}
.profile__title {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3.profile__title {
  font-size: 24px;
}
.form-profile {
  padding-top: 30px;
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__btn {
    text-align: right;
  }
}

.profile__show {
  padding: 15px 0;
  :not(:last-child) {
    margin-bottom: 10px;
  }
}
.profile-practice {
  & > *:not(:last-child) {
    margin-bottom: 15px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__theme {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__text {

    & span {
      font-size: 18px;
    }
  }

  &__block {
    background: var(--bg-color);
    padding: 10px;

    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__btn {
    flex: 0 1 50%;
  }
  &__error {
    color: var(--additional-color);
    font-size: 18px;
  }
}


// RESPONSIVE
/* Tablet */
@media (max-width: 991.98px) {
  
}

/* Mobile */
@media (max-width: 767.98px) {
  .profile__content {
    flex: 0 1 100%;
  }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
  h3.profile__title {
    font-size: 20px;
  }
  .profile-practice__title {
    font-size: 14px;
  }
  .profile-practice {

    &__label {
      font-size: 14px;
    }
    &__text {
      & span {
        font-size: 14px;
      }
    }
  }
}
