.page__profile {
  padding: 35px 0px;
}
.profile__container {
  display: flex;
  align-items: flex-start;
}
.profile__content {
  flex: 0 1 50%;
}
.profile__title {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.form-profile {
  &__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.profile__parctice-posts {
  padding: 35px 0px;

}
.practice-posts {
  &__title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
  }
  &__table {
    width: 100%;
    margin-bottom: 5px;
    & td {
      width: 20%;
      font-size: 16px;
    }
  }
}

.profile__btn-exit {
  flex: 0 1 50%;
  text-align: right;
}

// RESPONSIVE
/* Tablet */
@media (max-width: 991.98px) {
  
}

/* Mobile */
@media (max-width: 767.98px) {
   
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
  
}
