.manual__text {
}
.text-manual {
    background: $bg-color;
}
.text-manual__header {
    font-family: "BebasNeue";
    letter-spacing: .5px;
    margin-bottom: 25px;
    background: $primary-sdw-color;
    text-align: center;
    padding: 10px 5px;
}

.text-manual__title {
    font-size: 28px;
    line-height: 1.2;
}
.text-manual__subtitle {    
    font-size: 20px;
    line-height: 1.2;
}
.text-manual__body {
    padding: 0 15px;
}
.text-manual__doc-section {
    margin-bottom: 30px;
}
.text-manual__section-title {
    font-family: "BebasNeue";
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}
.text-manual__section-block {
    p {
        letter-spacing: 0.1px;
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 1.3;
    }
    h3 {
        font-size: 18px;
        font-family: "BebasNeue";
        letter-spacing: .5px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.text-manual__colortext-red {
    color: $additional-color;
}

.text-manual__diagram {

}
.diagram-list {
    margin: 0 auto;
    max-width: 200px;
    &__list {

    }
    &__item {
        position: relative;
        padding: 15px;
        text-align: center;
        background: $primary-sdw-color;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &:not(:last-child)::before {
            content: "";
            position: absolute;
            bottom: -9px;
            left: 50px;
            width: 0;
            height: 0;
            border-right: 50px solid transparent;
            border-top: 10px solid $primary-sdw-color;
            border-left: 50px solid transparent;
        }
    }
}
.diagram-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 10px;
    margin: 0 -10px -15px;
    &__column {
        flex: 0 1 50%;
        padding: 0 10px 15px;
    }
    &__column_1 {
        flex: 0 1 100%;
        
    }
    &__item {
        padding: 15px;
        margin: 0 auto;
        height: 100%;
        background-color: $primary-sdw-color;
        
        h3 {
            font-family: "BebasNeue";
            font-size: 22px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 600;
        }
        p {
            font-size: 16px;
            line-height: 1.2;
        }
    }
}

.text-manual__textcols {
    padding-left: 25px;
}
.textcols {
    &-item {
        margin-bottom: 20px;    
        li:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.text-manual__image-block {
    width: 300px;
    margin: 10px auto;
    text-align: center;
    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.python {
    margin: 15px 0;
    padding: 10px;
    display: block;
    background-color: $primary-sdw-color;
    border-radius: 5px;
}

.text-manual__show-list {
    margin: 10px 0;
}
.show-list {
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__list:not(:last-child) {
        margin-bottom: 10px;
    }    
    &__item {
        background: $primary-sdw-color;
        padding: 10px;
        max-width: 170px;
    }    
    &__list_right {
        margin-left: 20px;
    }
    &__item:not(:last-child) {
        margin-bottom: 5px;
    }    
}

.text-manual__box-canvas {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* PC */
@media (max-width: 1170px) {

}
/* Tablet */
@media (max-width: 991.98px) {

}

/* Mobile */
@media (max-width: 767.98px) {

}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .diagram-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -5px -10px;
        &__column {
            flex: 0 1 100%;
            padding: 0 5px 10px;
        }
    }
}