/*
  ========  =INNER VARIABLES= ======== 
*/
$x-color-blue: #133676;
$x-color-blue-dark: #0e2753;
$x-color-blue-light: #153d86;
$x-color-white: #d9dcec;
$x-color-orange: #f4a460;
$x-color-red: #ba2f2f;

$height-header: 90px;
$layout-top: 110;
$layout-middle: 100;
$layout-bottom: 50;
$layout-more-bottom: 10;
$layout-5: 5;


/*
  ========  =GLOBAL VARIABLES= ======== 
*/
// :root {
//   --primary-color: $x-color-blue; 
//   --primary-sdw-color: $x-color-blue-dark;
//   --bg-color: $x-color-blue-light;
//   --text-color: $x-color-white;
//   --highlight-color: $x-color-orange;
//   --additional-color: $x-color-red;
// }

.default-theme {
  --primary-color: $x-color-blue; 
  --primary-sdw-color: $x-color-blue-dark;
  --bg-color: $x-color-blue-light;
  --text-color: $x-color-white;
  --highlight-color: $x-color-orange;
  --additional-color: $x-color-red;
}
