/*
  ========  =WAVE ANIMATION WHEN BUTTON CLICK= ======== 
*/
.wave {
  background-color: var(--text-color);
  border-radius: 50%;
  transform: scale(0);
  animation: wave .5s linear;
  pointer-events: none;
  position: absolute;
}

@keyframes wave {
  100% {
   transform: scale(2);
   opacity: 0;
  }
}
