<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python learn</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="wrapper">
        <div class="form-login">
            <input type="checkbox" id="form-login__switch">
            <div class="form-login__body form-login__body_login">
                <div class="form-login__title">
                    <div class="form-login__subtitle">Вход</div>
                    <span>|</span>
                    <label for="form-login__switch"><span>Регистрация</span></label>
                </div>
                <form action="#" method="post" class="form-login__form form-login__form_login">
                    <input type="text" class="form-login__input" placeholder="Введите логин">
                    <input type="password" class="form-login__input" placeholder="Введите пароль">
                    <button type="submit" class="form-login__button btn">Войти</button>
                </form>
            </div>

            <div class="form-login__body form-login__body_register">
                <div class="form-login__title">
                    <div class="form-login__subtitle">Регистрация</div>
                    <span>|</span>
                    <label for="form-login__switch"><span>Вход</span></label>
                </div>
                <form action="#" method="post" class="form-login__form form-login__form_register">
                    <input type="text" class="form-login__input" placeholder="Имя">
                    <input type="text" class="form-login__input" placeholder="Почта">
                    <input type="password" class="form-login__input" placeholder="Пароль">
                    <input type="password" class="form-login__input" placeholder="Снова пароль">
                    <button type="submit" class="form-login__button btn">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>